node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app-native/build/
android/app-webview/build/
prompts
android/.kotlin/
public/vidly-native.apk
crash-logs/
spikes/
